@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600,700&display=swap');

body{
    position: absolute;
    min-height: 100vh;
    
    background-color: #edf5f7;
}


::-webkit-scrollbar {
    width: 0.3vw;
    background: #fff;
}
  

.container .btn-menu, .logo{
	float: left;
	line-height:100px;
}





.home_content{
    top: 1vh;
    height: 98%;
    position: fixed;
    width: calc(90.6%);
    left: 7vw;
    right: -8vw;
    border-radius: 10px;
    display:flex;
    justify-content: left;
}



/*Primero la vista por defecto de los menus*/
#menu-categorias{ 
    display:none;
}
#menu-up{
    display:block;
}

/*Una vez alcance los 1490px realizas el cambio*/
@media screen and (max-width: 1800px) {
    #menu-categorias{
        display: block;
    }

    #menu-up{
        display: none;
    }

    .sidebar{
        position: fixed;
        height: 98vh;
        width: 14vw;
        background-color: #ffffff;
        z-index: 99;
        border-radius: 10px;
    }


    .home_content{
        top: 1vh;
        height: 33vh;
        position: fixed;
        width: 51.5vw;
        left: 15vw;
        border-radius: 10px;
        display:flex; 
    }

    .container{
        left: 5vw;
        display:flex;
    }

    .casilla{
        align-items: center;
        justify-content: center;
        margin-left: 10%;
        font-size:2vw;
        width: 10vw;
        font-family: "Poppins" , sans-serif;
        border: none;
        background-color: transparent;
        z-index:2;
    }
    
    h1{
        text-align: center;
        align-items: center;
        justify-content: center;
        color: rgb(0, 0, 0);
        font-family: "Poppins" , sans-serif;
        font-size:1.4vw;
    }

    .h5{
        margin-top: 10%;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family:"Poppins" , sans-serif;
        font-size:1vw;
        color: rgb(0, 0, 0);
    }

    .box1{
        left:5vw;
        width: 30vw;
        height: 33vh;
        bottom: 10%;
        background-color: #ffffff;
        border-radius: 5px;

     
        
    }

    .box1-1{
        width: 23vw;
        height: 10vw;
        bottom: 10%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }


    .box2{
        width: 51.5vw;
        top: 35vh;
        background-color: #ffffff;
        border-radius: 7px;
        position: fixed;
    }
      

    .box3{
        top: 1vh;
        position: flex;
        width: calc(32.6%);
        height: 98vh;
        background-color: #ffffff;
        border-radius: 5px;
        margin-left: 52vw;
        position: fixed;
    }

    .box4{
        width: 20.88vw;
        height: 33vh;
        bottom: 1%;
        margin-left: 0.6vw;
        border-radius: 5px;
        align-items: center;
        position: flex;

    }

    .etiqueta{
        width: 20.88vw;
        height: 10vh;
        border-radius: 5px;
        align-items: center;
        position:flex;
        font-family: "Poppins" , sans-serif;
        margin-bottom: 10px;
        z-index:-99;
        background-color: #ffffff;
    }

    .h5{
        margin-top: 1.5vh;
        margin-left: 2vw;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: "Poppins" , sans-serif;
        font-size:1.2vw;
    }

    .sidebar li a .links_name{
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
    }
    .sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
    }
    .sidebar li a:hover .links_name,
    .sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #11101D;
    }
    .sidebar li i{
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        border-radius: 12px;
      }
      .sidebar li.profile{
        position: fixed;
        height: 60px;
        width: 78px;
        left: 0;
        bottom: -8px;
        padding: 10px 14px;
        background: #1d1b31;
        transition: all 0.5s ease;
        overflow: hidden;
      }


}


/*Una vez alcance los 1490px realizas el cambio*/
@media screen and (max-width: 500px) {
    #menu-categorias{
        display: block;
    }

    #menu-up{
        display: none;
    }

    .home_content{
        top: 1vh;
        height: 98%;
        position: fixed;
        width: calc(90.6%);
        left: 7vw;
        right: -8vw;
        border-radius: 10px;
        display:flex;
        justify-content: left;
      }
}







@media screen and (max-width: 1080px) {

    #menu-categorias{
        display: block;
    }

    #menu-up{
        display: none;
    }

    .sidebar{
        position: fixed;
        height: 98vh;
        width: 14vw;
        background-color: #ffffff;
        z-index: 99;
        border-radius: 10px;
    }


    .home_content{
        top: 1vh;
        height: 33vh;
        position: fixed;
        width: 51.5vw;
        left: 15vw;
        border-radius: 10px;
        display:flex; 
    }

    .container{
        left: 5vw;
        display:flex;
    }

    .casilla{
        align-items: center;
        justify-content: center;
        margin-left: 10%;
        font-size:2vw;
        width: 10vw;
        font-family: "Poppins" , sans-serif;
        border: none;
        background-color: transparent;
        z-index:2;
    }

    h1{
        text-align: center;
        align-items: center;
        justify-content: center;
        color: rgb(0, 0, 0);
        font-family: "Poppins" , sans-serif;
        font-size:1.4vw;
    }

    .h5{
        margin-top: 10%;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family:"Poppins" , sans-serif;
        font-size:1vw;
        color: rgb(0, 0, 0);
    }

    .box1{
        left:5vw;
        width: 30vw;
        height: 33vh;
        bottom: 10%;
        background-color: #ffffff;
        border-radius: 5px;

    
        
    }

    .box1-1{
        width: 23vw;
        height: 10vw;
        bottom: 10%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }


    .box2{
        width: 51.5vw;
        top: 35vh;
        background-color: #ffffff;
        border-radius: 7px;
        position: fixed;
    }
    

    .box3{
        top: 1vh;
        position: flex;
        width: calc(32.6%);
        height: 98vh;
        background-color: #ffffff;
        border-radius: 5px;
        margin-left: 52vw;
        position: fixed;
    }

    .box4{
        width: 20.88vw;
        height: 33vh;
        bottom: 1%;
        margin-left: 0.6vw;
        border-radius: 5px;
        align-items: center;
        position: flex;

    }

    .etiqueta{
        width: 20.88vw;
        height: 10vh;
        border-radius: 5px;
        align-items: center;
        position:flex;
        font-family: "Poppins" , sans-serif;
        margin-bottom: 10px;
        z-index:-99;
        background-color: #ffffff;
    }

    .h5{
        margin-top: 1.5vh;
        margin-left: 2vw;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: "Poppins" , sans-serif;
        font-size:1.2vw;
    }
}
