<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microred UCSC</title>
    <!---Fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <!--Icons-->
    <script src="https://kit.fontawesome.com/99727b3388.js" crossorigin="anonymous"></script>
    <!--CSS-->
   <!--- <link rel="stylesheet" href="{% static 'css/style3.css' %}">    -->
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">       

    <!--Animacion-->    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.5/dist/chartjs-plugin-zoom.min.js"></script>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>


<body >    
  <nav id="sidebar">
    <div class="title">Microred UCSC <i class="far fa-lightbulb"></i></div>
    <ul class="list-items">
        <li><a href="#"><i class="fas fa-solar-panel"></i>Dashboard</a></li>
        <li><a href="#"><i class="fas fa-chart-area"></i>Analizador de Energia</a></li>
        <div class='canales'>
        <li><a href="{% url 'canal1'%}">Canal 1</a></li>
        <li><a href="{% url 'canal2'%}">Canal 2</a></li>
        <li><a href="{% url 'canal3'%}">Canal 3</a></li>
        <li><a href="{% url 'canal4'%}">Canal 4</a></li>
        <li><a href="{% url 'canal5'%}">Canal 5</a></li>
        <li><a href="{% url 'canal6'%}">Canal 6</a></li>
        <li><a href="{% url 'canal7'%}">Canal 7</a></li>
        <li><a href="{% url 'canal8'%}">Canal 8</a></li>
        <li><a href="{% url 'canal9'%}">Canal 9</a></li>
        <li><a href="{% url 'canal10'%}">Canal 10</a></li>
        <li><a href="{% url 'canal11'%}">Canal 11</a></li>
        <li><a href="{% url 'canal12'%}">Canal 12</a></li>
      </div>
    </ul>
  </nav>
    
   

    <div class="home_content">
      <div class="container">
        <div class="box1"><h1>Generacion Por Canal</h1>
          <div class="box1-1"><canvas class ='Donut' id="doughnut-chart" style='margin-left: 3.1vw;'></canvas></div>
        </div>
        <div class="box4">
          <div class="etiqueta">
            <span class="h5">Factor de Potencia</span><br>
            <input class="casilla" type="text" id="mytext" disabled>
          </div>
          <div class="etiqueta">
            <span class="h5">Potencia Activa</span><br>
            <input class="casilla" type="text1" id="mytext1" disabled>
            <span class="h5" style="font-size:0.9vw;">Watt</span><br>
          </div>
          <div class="etiqueta">
            <span class="h5">Potencia Reactiva</span><br>
            <input class="casilla" type="text2" id="mytext2" disabled>
            <span class="h5" style="font-size:0.9vw;">Watt</span><br>
          </div>
        </div>
        <div class="box2"><h1>Potencia de Planta</h1><canvas id="Power"></canvas></div>
      </div>
      <div class="box3">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-3">
              <table class="table" aria-label="Dessert calories">
                <thead>
                  <tr class="mdc-data-table__header-row">
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Canal</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Equipo</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Modelo</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Marca</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Fase</th>

                  </tr>
                </thead>
                <tbody class="mdc-data-table__content">
                  <tr data-row-id="u0" class="mdc-data-table__row">
                    <th class="mdc-data-table__cell">1</th>
                    <td class="mdc-data-table__cell">Inversor N°4</td>
                    <td class="mdc-data-table__cell">Galvo</td>
                    <td class="mdc-data-table__cell">Fronius</td>
                    <td class="mdc-data-table__cell">Monofasico</td>
                    
                  </tr>
                  <tr data-row-id="u3" class="mdc-data-table__row">
                    <th class="mdc-data-table__cell">2</th>
                    <td class="mdc-data-table__cell">Inversor N°1</td>
                    <td class="mdc-data-table__cell">Symo</td>
                    <td class="mdc-data-table__cell">Fronius</td>
                    <td class="mdc-data-table__cell">Trifasico</td>
                  
                  </tr>
                  <tr data-row-id="u3" class="mdc-data-table__row">
                    <th class="mdc-data-table__cell">3</th>
                    <td class="mdc-data-table__cell">Inversor N°2</td>
                    <td class="mdc-data-table__cell">Symo</td>
                    <td class="mdc-data-table__cell">Fronius</td>
                    <td class="mdc-data-table__cell">Trifasico</td>
                  </tr>
                  <tr data-row-id="u3" class="mdc-data-table__row">
                    <th class="mdc-data-table__cell">4</th>
                    <td class="mdc-data-table__cell">Inversor N°3</td>
                    <td class="mdc-data-table__cell">Primo</td>
                    <td class="mdc-data-table__cell">Fronius</td>
                    <td class="mdc-data-table__cell">Monofasico</td>
                  </tr>
                  <tr data-row-id="u3" class="mdc-data-table__row">
                    <th class="mdc-data-table__cell">5</th>
                    <td class="mdc-data-table__cell">~</td>
                    <td class="mdc-data-table__cell">~</td>
                    <td class="mdc-data-table__cell">~</td>
                    <td class="mdc-data-table__cell">~</td>
                  </tr>
                  <tr data-row-id="u3" class="mdc-data-table__row">
                    <th class="mdc-data-table__cell">6</th>
                    <td class="mdc-data-table__cell">~</td>
                    <td class="mdc-data-table__cell">~</td>
                    <td class="mdc-data-table__cell">~</td>
                    <td class="mdc-data-table__cell">~</td>
                  </tr>
                  <tr data-row-id="u3" class="mdc-data-table__row">
                    <th class="mdc-data-table__cell">7</th>
                    <td class="mdc-data-table__cell">~</td>
                    <td class="mdc-data-table__cell">~</td>
                    <td class="mdc-data-table__cell">~</td>
                    <td class="mdc-data-table__cell">~</td>
                  </tr>
                  <tr data-row-id="u3" class="mdc-data-table__row">
                    <th class="mdc-data-table__cell">8</th>
                    <td class="mdc-data-table__cell">Inversor N°5</td>
                    <td class="mdc-data-table__cell">Sunny Tripower</td>
                    <td class="mdc-data-table__cell">SMA</td>
                    <td class="mdc-data-table__cell">Trifasico</td>
                  </tr>
                  <tr data-row-id="u3" class="mdc-data-table__row">
                    <th class="mdc-data-table__cell">9</th>
                    <td class="mdc-data-table__cell">Inversor N°6</td>
                    <td class="mdc-data-table__cell">Sunny Tripower</td>
                    <td class="mdc-data-table__cell">SMA</td>
                    <td class="mdc-data-table__cell">Trifasico</td>
                  </tr>
                  <tr data-row-id="u3" class="mdc-data-table__row">
                    <th class="mdc-data-table__cell">10</th>
                    <td class="mdc-data-table__cell">Inversor N°5</td>
                    <td class="mdc-data-table__cell">Sunny Tripower</td>
                    <td class="mdc-data-table__cell">SMA</td>
                    <td class="mdc-data-table__cell">Trifasico</td>
                  </tr>
                  <tr data-row-id="u3" class="mdc-data-table__row">
                    <th class="mdc-data-table__cell">11</th>
                    <td class="mdc-data-table__cell">~</td>
                    <td class="mdc-data-table__cell">~</td>
                    <td class="mdc-data-table__cell">~</td>
                    <td class="mdc-data-table__cell">~</td>
                  </tr>
                  <tr data-row-id="u3" class="mdc-data-table__row">
                    <th class="mdc-data-table__cell">12</th>
                    <td class="mdc-data-table__cell">Sunny Multigate</td>
                    <td class="mdc-data-table__cell">Sunny Boy</td>
                    <td class="mdc-data-table__cell">SMA</td>
                    <td class="mdc-data-table__cell">Monofasico</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
</body>
<script src="{% static 'js/circulo.js' %}"></script>

</html>
