<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.5/dist/chartjs-plugin-zoom.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.5/dist/chartjs-plugin-zoom.min.js"></script>
  
    <title>Real Time</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        var graphData = {
          type: 'line',
          data: {
            labels: [],
            datasets: [{
              label: '# of Votes',
              data: [],
              borderWidth: 1
            }]
        },
        options: { plugins: {
        zoom: {
            pan: {
                enabled: false,
                mode: 'xy',
            },
            zoom: {
                enabled: true,
                mode: 'x'
            }
        }
        }}};
        
        

        var myChart = new Chart(ctx, graphData);
       
        var socket = new WebSocket('ws://'+window.location.host+'/ws/graph/');
    
        socket.onmessage = function(e){
        var djangoData = JSON.parse(e.data);
        console.log(djangoData.value);    
        graphData.data.labels = (djangoData.time);
        graphData.data.datasets[0].data = djangoData.value;
        myChart.update();
        }
    </script>
</body>
</html>
